<!DOCTYPE html>
<html>
    <head>
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
            <h1 class="text-lg font-medium">
                DOTS Simulation Orchestrator API
            </h1>
            <p>
                Go to
                <a class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600" href="docs">/docs</a>
                to see the docs and try out the automatic interactive API.
            </p>

        </div>
    </body>
</html>
